<head>
    <title alt="CoderDojo Wiesbaden">{{ page.title }}{% if page.title != %} | {% endif %}CoderDojo Wiesbaden</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <meta name="Description" content="Im CoderDojo Wiesbaden kannst du ganz entspannt programmieren lernen. Jeden ersten Samstag im Monat.">
    <meta name="keywords" content="Programmieren,CoderDojo,Wiesbaden,lernen,Programmierung,Coding,kostenlos,Kind,Kinder,Kids,Computer,Jugendliche">
    <link rel="stylesheet" href="assets/css/reset.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link href="favicon.ico" rel="shortcut icon" />
</head>