<!-- Menu -->
<!--<nav id="menu">
    <ul class="links" id="menu-list">
        <li id="nav-about">
            <a id="nav-about-link" href="willkommen.html" class="special fit dark">Über Uns</a>
        </li>
        <li id="nav-signup">
            <a id="nav-signup-link" href="anmeldung.html" class="special fit dark">Termine &amp; Anmeldung</a>
        </li>
        <li id="nav-signupdirect">
            <a id="nav-signupdirect-link" href="https://zen.coderdojo.com/dojos/de/wiesbaden/wiesbaden-at-st-bonifatius"
                class="button special fit dark">Jetzt Anmelden!</a>
        </li>
        <li id="nav-blog">
            <a id="nav-blog-link" href="https://blog.cdwi.de" class="special fit dark">Blog</a>
        </li>
    </ul>
</nav>-->

<nav id="menu">
    <div class="menu-grid-about menu-grid">

    </div>
    <div class="menu-grid-blog menu-grid">
        <h2>Einfach ein Test</h2>
    </div>
    <div class="menu-grid-signup menu-grid">
        <a href="/anmelden">
            <div class="menu-grid-signup-half">
                <h2>
                    Termine <small>&</small> Anmeldung
                </h2>
            </div>
        </a>
        <a href="https://zen.coderdojo.com/dojos/de/wiesbaden/wiesbaden-at-st-bonifatius">
            <div class="menu-grid-signup-half">
                <h2>
                    direkt anmelden
                </h2>
            </div>
        </a>
    </div>
</nav>

<!-- Contact form -->
<nav id="nachricht">
    <form action="send_form.php" method="POST">
        <h2 class="dark">
            <strike>Kontakt aufnehmen</strike> Vorerst deaktiviert</h2>
        <div class="row">
            <div class="6u 12u$(small)">
                <input class="dark" type="text" name="name" placeholder="Name (Optional)" autocomplete="name">
                <br />
            </div>
            <div class="6u$ 12u$(small)">
                <input class="dark" type="email" name="email" placeholder="E-Mail (Optional)" autocomplete="email">
                <br />
            </div>
        </div>
        <textarea class="dark" type="text" name="message" placeholder="Deine Nachricht" spellcheck="true" required="required"
            pattern="[A-Za-z0-9]{1,20}" rows="3"></textarea>
        <br />

        <input type="hidden" name="_subject" value="CDWi: Neue Nachricht [Ressourcen]">
        <input type="hidden" name="_cc" value="koenidv@gmail.com">
        <input type="hidden" name="_language" value="de">
        <input type="text" name="_gotcha" style="display:none" />

        <input type="submit" value="Senden" class="button fit dark">
    </form>
</nav>