<!-- Menu -->
<nav id="menu" onclick="togglemenu()">
    <a href="/wir">
        <div class="menu-grid-about menu-grid">
            <h2>Über uns</h2>
        </div>
    </a>
    <div class="menu-grid-signup menu-grid">
        <a href="/anmelden">
            <div class="menu-grid-signup-half singleword">
                <h2>
                    Termine <small>&</small> Anmeldung
                </h2>
            </div>
        </a>
        <a href="https://zen.coderdojo.com/dojos/de/wiesbaden/wiesbaden-at-st-bonifatius">
            <div class="menu-grid-signup-half">
                <h2>
                    direkt anmelden
                </h2>
            </div>
        </a>
    </div>
    <a href="https://blog.cdwi.de/" target="_blank" rel="noopener">
        <div class="menu-grid-blog menu-grid">
            <h2>Blog</h2>
        </div>
    </a>
</nav>